<%- include('../partials/head') %>
<%- include('../partials/navbar') %> 

<h1>MY NOTES</h1>

<a href="/">TAKE ME BACK HOME</a>
<!-- CREATE container and TO LOOP THOUGH NOTES -->
<div class="container">
  <% for( let n of notes) { %>
    <h2><%= n.title %> </h2>
    <p><%= n.text %> </p>
    <a href="/notes/<%=n.id%>">DETAILS</a>
  <% } %>
  
</div>


<%- include('../partials/footer') %> 