<%- include('../partials/head') %>
<%- include('../partials/navbar') %> 

<h1><%= note.title %> </h1>
<p><%= note.text %> </p>
<button onclick="window.location.href='/notes/<%=note.id%>/edit'">EDIT</button>

<a href="/">TAKE ME BACK HOME</a>

<%- include('../partials/footer') %> 